*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
   
  }
  section{
    background-color: #F5F6FA;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
  }
  .new{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
.a img{
    width: 25vw;
    /* background-color: black; */
}
.abt h2{
  font-size: 40px;
}
.abt p{
  width: 39vw;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  /* background-color: aquamarine; */
}
.abt {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideUp 1s ease-out forwards;
  animation-delay: 1s;
}

/* Initial hidden state */
.fade-slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Visible state triggers animation */
.fade-slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 750px) {
  .new{
    flex-direction: column-reverse;
    gap: 20px;
    
  }
  .abt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100vw;
  }

  .abt h2{
    width: 70vw;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
  }
  .abt p{
    width: 85vw;
    text-align: center;
    font-size: 17px;
  }
  #Aboutss{
    padding: 40px 0;


  }
  .a img{
    width: 50vw;
  }

}
